<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="makersbnbstyle.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Monserrat">
</head>
<body>

<h1>Add a new property</h1>
<form action='/add-listing' method='post'>
  <input type='text' name='name' placeholder='Name'>
  <input type='text' name='description' placeholder='Enter a description'>
  <input type='text' name='price' placeholder='Enter the price per night'>
  <input type='submit' value='Create New Listing'>
</form>

<form action='/'>
<input type='submit' value='Take me home, country roads!'>
</form>

</body>
</html>