<form action='/add-listing' method='post'>
  <input type='text' name='name' placeholder='Name'>
  <input type='text' name='description' placeholder='Enter a description'>
  <input type='text' name='price' placeholder='Enter the price per night'>
  <input type='submit' value='Create New Listing'>
</form>

<form action='/'>
<input type='submit' value='Take me home, country roads!'>
</form>