<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="makersbnbstyle.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Monserrat">
</head>
<body>

<h1>Confirmation of Request</h1>

<h2>Thank you for your request, <%=@user.username%></h2>
<br>
<h3>You've requested <%=@space.name%></h3>
<h3>From <%= @current_request.check_in %> until <%= @current_request.check_out %></h3>
<br>
<p>Please note. this booking is not confirmed until the host has accepted your request</p>
<h3>View more listings while you wait:</h3>
<form action='/listings'>
<input type='submit' value='View Listings'>
</form>

</body>
</html>
