<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="makersbnbstyle.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Monserrat">
</head>

<h1>Sorry, your dates aren't avaliable</h1>

<h2>Click below to rebook:</h2>

<form action='/listings'>
<input type='submit' value='View Listings'>
</form>

</html>