<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="makersbnbstyle.css">
</head>
<body>

<h3>Welcome <%= @user.username %></h3>

<form action='/listings'>
<input type='submit' value='View Listings'>
</form>

<form action='/add-listing'>
  <input type='submit' value='Add New Listing'>
</form>

</body>
</html>