<h3>Welcome <%= @user %></h3>

<ul><% @spaces.each do |space| %>
  <li>Name: <%= space.name %> Description: <%= space.description %> Price per night: <%= space.price %></li>
   <% end %>
</ul>

<form action='/add-listing'>
  <input type='submit' value='Add New Listing'>
</form>

<form action='/log-out' method="post">
  <input type='submit' value='Log Out'>
</form>
