<ul><% @spaces.each do |space| %>
  <li>Name: <%= space.name %> Description: <%= space.description %> Price per night: <%= space.price %></li>
   <% end %>
</ul>

<form action='/add-listing'>
  <input type='submit' value='Add New Listing'>
</form>

<form action='/'>
<input type='submit' value='Take me home, country roads!'>
</form>