<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="makersbnbstyle.css">
</head>
<body>

<h1>Sorry, we don't recognise your email or password</h1>

<h1>Please login below</h1>

<form action='/login_details' method='post'>
<input type='text' name='email' placeholder='Enter email address'>
<input type='text' name='password' placeholder='Enter password'>
<input type='submit' value='Log In'>
</form>

<form action='/sign_up' method='post'>
<label>Or sign up if you don't have an account</label>
<input type='text' name='username' placeholder='Enter Username'>
<input type='text' name='email' placeholder='Enter email address'>
<input type='text' name='password' placeholder='Enter password'>
<input type='submit' value='Sign Up'>
</form>

</body>
</html>