<h1>Kiki has requested Castle</h1>

<form action='/confirm_booking' method='post'>
    <input type='submit' value='Confirm booking'>
</form>

<form action='/reject_booking' method='post'>
    <input type='submit' value='Reject booking'>
</form>