<h1>Welcome to MakersBnB</h1>
<h3>Sign up below to get started</h3>


<form action='/sign_up' method='post'>
<label>Enter your details</label>
<input type='text' name='username' placeholder='Enter Username'>
<input type='text' name='email' placeholder='Enter email address'>
<input type='text' name='password' placeholder='Enter password'>
<input type='submit' value='Sign Up'>
</form>

<form action='/login_details' method='post'>
<label>Or login here:</label>
<input type='text' name='login_email' placeholder='Enter email address'>
<input type='text' name='login_password' placeholder='Enter password'>
<input type='submit' value='Log In'>
</form>

<form action='/listings'>
<input type='submit' value='View Listings'>
</form>