<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="makersbnbstyle.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Monserrat">
</head>
<body>

<h1>Thanks for signing up to MakersBnB</h1>

<form action='/listings'>
<input type='submit' value='Visit your homepage'>
</form>

</body>
</html>
