<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="makersbnbstyle.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Monserrat">
</head>
<body>

<h1>There's a doppleganger somewhere...</h1>
<h3>Try registering with a different username or email address</h3>
<form action='/'>
<input type='submit' value='Click here to try again.'>
</form>

</body>
</html>
