<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="makersbnbstyle.css">
</head>
<body>

<h1>There's a doppleganger somewhere...</h1>
<h3>Try registering with a different username or email address</h3>
<form action='/'>
<input type='submit' value='Take me home, country roads!'>
</form>

</body>
</html>